<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>


<body>

<!-- User Page  -->
<th th:fragment="column_link(fieldName,columnLabel)">
	
	<a class="text-white"
		th:href="@{'/users/page/' +${pageNum} + '?sortField=' +${fieldName}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">
		[[${columnLabel}]]
	</a>

	<span th:if="${sortField==fieldName}"
		th:class="${sortDir=='asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
	</span>
	
</th>	

<a th:fragment="page_link(pageNum,label)" class="page-link"	th:href="@{'/users/page/' +${pageNum}+ '?sortField=' +${sortField}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">[[${label}]]
</a>

<!-- Category Page  -->
<th th:fragment="column_link_cat(fieldName,columnLabel)">
	
	<a class="text-white"
		th:href="@{'/categories/' +${pageNum}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} +  ${keyword!=null ? '&keyword=' +keyword : ''}}">
		[[${columnLabel}]]
	</a>

	<span th:if="${sortField==fieldName}"
		th:class="${sortDir=='asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
	</span>
	
</th>

<a th:fragment="page_link_cat(pageNum,label)"class="page-link" th:href="@{'/categories/' +${pageNum}+ '?sortField=' +${sortField}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">[[${label}]]</a>	

<!-- Brand Page  -->	
<th th:fragment="column_link_brand(fieldName,columnLabel)">
	
	<a class="text-white"
		th:href="@{'/brands/page/' +${pageNum} + '?sortField=' +${fieldName}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">
		[[${columnLabel}]]
	</a>

	<span th:if="${sortField==fieldName}"
		th:class="${sortDir=='asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
	</span>
	
</th>	

<a th:fragment="page_link_brand(pageNum,label)" class="page-link"	th:href="@{'/brands/page/' +${pageNum}+ '?sortField=' +${sortField}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">[[${label}]]
</a>

<!-- Shipping Rates Page  -->	
<th th:fragment="column_link_shipping(fieldName,columnLabel)">
	
	<a class="text-white"
		th:href="@{'/shipping/page/' +${pageNum} + '?sortField=' +${fieldName}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">
		[[${columnLabel}]]
	</a>

	<span th:if="${sortField==fieldName}"
		th:class="${sortDir=='asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
	</span>
	
</th>	

<a th:fragment="page_link_shipping(pageNum,label)" class="page-link"	th:href="@{'/shipping/page/' +${pageNum}+ '?sortField=' +${sortField}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">[[${label}]]
</a>

<!-- Customer Page  -->	
<th th:fragment="column_link_customer(fieldName,columnLabel)">
	
	<a class="text-white"
		th:href="@{'/customers/page/' +${pageNum} + '?sortField=' +${fieldName}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">
		[[${columnLabel}]]
	</a>

	<span th:if="${sortField==fieldName}"
		th:class="${sortDir=='asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
	</span>
	
</th>	

<a th:fragment="page_link_customer(pageNum,label)" class="page-link"	th:href="@{'/customers/page/' +${pageNum}+ '?sortField=' +${sortField}+ '&sortDir=' + ${sortField!=fieldName ? sortDir : reverseSort} + ${keyword!=null ? '&keyword=' +keyword : ''}}">[[${label}]]
</a>
</body>

</html>