<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::head">
</head>

<body>

	<div class="container-fluid">
		<div th:replace="common/navigation::menu"></div>
		<div th:replace="common/navigation::search_menu"></div>
		<h2>Shopping By Categories</h2>
	</div>	
	
	<div class="row text-center">
	
		<div class="col" th:each="cat : ${listCategory}">		
			<div>
				<img th:src="@{${cat.imagePath}}" width="80"/>
			</div>
			
			<div>
				<a th:href="@{'/c/' +${cat.alias}}">[[${cat.name}]]</a>
			</div>		
		</div>

	</div>
	
	<div th:replace="common/navigation::footer_menu"></div>
	
</body>

</html>