<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head th:replace="common/header::head"></head>	

<body>

	<div class="container-fluid">		
		<div th:replace="common/navigation :: menu"></div>
		
		<div>&nbsp;</div>
		
		<div th:if="${message!=null}">
			<h2 class="text-center">[[${message}]]</h2>
		</div>
		
		<div class="text-center">
			<div th:replace="common/navigation :: footer_menu"></div>
		</div>
		
		<div>&nbsp;</div>		
	</div>

</body>

</html>