<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header::head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Shipping Rates - ShopNow Admin</title>

</head>

<body>
	<div class="container-fluid">
		<div th:replace="common/navigation :: menu"></div>
		
		<div>
			<h1>Manage Shipping Rates</h1>
			<a th:href="@{/shipping_rates/new}">Create New Shipping Rates</a>
		</div>

		<div>&nbsp;</div>

		<div th:if="${message != null}"	class="alert alert-success text-center">[[${message}]]</div>

		<div th:if="${message1 != null}" class="alert alert-success text-center">[[${message1}]]</div>

		<div>
			<form th:action="@{/shipping/page/1}" class="form-inline">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortDir" th:value="${sortDir}" />
				Filter:&nbsp;
				<input type="search" id="keyword" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<input type="submit" value="Search"	class="btn btn-primary" required /> &nbsp;&nbsp;
				<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()" />
			</form>
		</div>

		<div>&nbsp;</div>

		<div>
			<div>
				<table
					class="table table-bordered table-striped table-hover table-responsive-xl">
					<thead class="thead-dark">
						<tr>
							<th scope="col" th:replace="common/fragments::column_link_shipping('id','Shipping Rate ID')"></th>

							<th scope="col" th:replace="common/fragments::column_link_shipping('country','Country Name')"></th>

							<th scope="col" th:replace="common/fragments::column_link_shipping('country','Country Name')"></th>

							<th scope="col"><a class="text-white">Rate</a></th>

							<th scope="col"><a class="text-white">Days</a></th>

							<th scope="col"><a class="text-white ">COD Supported</a></th>

							<th scope="col">Operations</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ls : ${listShipping}">

							<th scope="row">[[${ls.id}]]</th>

							<td>[[${ls.country.name}]]</td>

							<td>[[${ls.states}]]</td>

							<td>[[${ls.rate}]]</td>

							<td>[[${ls.days}]]</td>

							<td><a th:if="${ls.codSupported==true}"
								class="fas fa-hand-holding-dollar fa-2x"
								th:href="@{'/shipping/' + ${ls.id} +'/enabled/false'}"
								title="Disable this shipping rate"> </a> <a
								th:if="${ls.codSupported==false}" class="fas fa-times fa-2x"
								th:href="@{'/shipping/' + ${ls.id} +'/enabled/true'}"
								title="Enable this shipping rate"> </a></td>

							<td><a class="fas fa-edit fa-2x"
								th:href="@{'/shipping/page/edit/' + ${ls.id}}"></a> <a
								th:href="@{'/shipping/page/delete/' + ${ls.id}}"
								class="fas fa-user-times fa-2x link-delete"
								th:shippingId="${ls.id}" title="Delete this shipping rate"></a>

							</td>

						</tr>

					</tbody>

				</table>
			</div>

			<div class="text-center m-1" th:if="${totalItems>0}">
				<span>Showing shipping rates [[${startCount}]] to
					[[${endCount}]] of [[${totalItems}]]</span>
			</div>

			<div class="text-center m-1" th:unless="${totalItems>0}">
				<span>No brand Found</span>
			</div>

			<div th:if="${totalPage > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">					
					<li th:class="${pageNum > 1 ? 'page-item' :'page-item disabled'}">
						<a th:replace="common/fragments::page_link_shipping(1,'First')"></a>
					</li>
					
					<li th:class="${pageNum > 1 ? 'page-item' :'page-item disabled'}">
						<a th:replace="common/fragments::page_link_shipping(${pageNum-1},'Previous')"></a>
					</li>
					
					<li th:class="${pageNum != i ? 'page-item' :'page-item active'}" th:each="i:${#numbers.sequence(1,totalPage)}">
						<a th:replace="common/fragments::page_link_shipping(${i},${i})"></a>
					</li>
										
				    <li th:class="${pageNum < totalPage ? 'page-item' :'page-item disabled'}">
				    	<a th:replace="common/fragments::page_link_shipping(${pageNum+1},'Next')"></a>
				    </li>
					
					<li th:class="${pageNum < totalPage ? 'page-item' :'page-item disabled'}">
						<a th:replace="common/fragments::page_link_shipping(${totalPage},'Last')"></a>
					</li>					
				</ul>				
			</nav>
			</div>

			<div class="modal" tabindex="-1" role="dialog"
				id="confirmModalShipping">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Delete Confirmation</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<span id="confirmTextShipping"></span>
						</div>
						<div class="modal-footer">
							<a class="btn btn-success" href="" id="yesButtonShipping">Yes</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="common/footer::foot"></div>
	</div>
	<div th:replace="common/script::script"></div>
	
<script type="text/javascript">	
	$(document).ready(function() {
		$(".link-delete").on("click",function(e) {
			e.preventDefault();
			link = $(this);
			shippingId = link.attr("shippingId");
			$("#yesButtonShipping").attr("href",link.attr("href"));
			$("#confirmTextShipping").text("Are you sure want to delete id: "+ shippingId + " ?");
			$("#confirmModalShipping").modal();
		});
	});		
</script>
	
</body>
</html>