<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::head"></head>

<body>
	<div class="container-fluid">
	
		<div th:replace="common/navigation::menu"></div>
		<div>&nbsp;</div>
	
		<div class="text-center">
			<h2>Customer Verification</h2>
			<h4>Congratulation! Your account has been verified.</h4>			
			<p><a th:href="@{/login}">Login Now</a></p>
		</div>
	</div>
	
	<div>&nbsp;</div>
	
	<div th:replace="common/navigation::footer_menu"></div>
</body>
</html>