<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Error Page</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="common/navigation :: menu"></div>
		<div class="m-3 text-center">
			<h2>Access Denied.</h2>
		</div>
		<div class="text-center">
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>

</body>
</html>