<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header::head">
<title>Your Account Details</title>
</head>

<body>
	<div class="container-fluid">
	
		<div th:replace="common/navigation :: menu"></div>
		
		<div class="text-center">
			<h1>Your Account Details</h1>
		</div>
		
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]
		</div>

		<div>
			<form th:action="@{/account/update}" method="post"
				style="max-width: 700px; margin: 0 auto" th:object="${user}"
				enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="exampleFormControlInput1">Email address</label> <input
						type="email" class="form-control" placeholder="name@example.com"
						th:field="*{email}" readonly>
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">First name</label> <input
						type="text" class="form-control" id="exampleFormControlInput1"
						placeholder="Enter Your Name" th:field="*{firstname}">
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">Last Name</label> <input
						type="text" class="form-control" id="exampleFormControlInput1"
						placeholder="Enter Your surname" th:field="*{lastname}">
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">Password</label> <input
						type="password" class="form-control" id="password"
						placeholder="your password" th:field="*{password}"
						oninput="checkPasswordMatch(document.getElementById('confirmpassword'))">
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput2">Confirm Password</label> <input
						type="password" class="form-control" id="confirmpassword"
						placeholder="confirm password" oninput="checkPasswordMatch(this)">
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">Assigned Roles</label> <span><b>[[${user.roles}]]</b></span>
				</div>

				<div class="form-group">
					<label for="exampleFormControlInput1">Photo</label> <input
						type="hidden" th:field="*{photos}" /> <input type="file"
						id="fileImage" name="image" accept="image/png,image/jpeg" /> <img style="height:150px" id="thumbnail" th:src="@{${user.photosImagePath}}" />
				</div>
				<div>
					<input type="submit" value="Save" class="btn btn-primary">
					<input type="submit" value="Cancel" class="btn btn-secondary"
						id="buttonCancel">
				</div>

			</form>

			<div class="modal" tabindex="-1" role="dialog" id="modalDialogue">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalTitle">Warning</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<span id="modalbody"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div th:replace="common/footer::foot"></div>
	</div>
</body>
<script th:src="@{/js/user_account.js}"></script>
</html>