<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="content" th:remove="tag">
		<div class="m-2">
			<p>Use this page to manage countries which will be displayed in the customer registration form.
		</div>
		
		<div>
			<input type="button" value="Load country list" id="buttonLoad" class="btn btn-primary m-2">
		</div>
		
		<div>
			<select class="form-control m-2" style="height:300px" id="dropdownCountries" size="3000">
			
			</select>
		</div>
		
		<div class="form-group row ml-2">
			<label class="col-form-label mt-2" id="labelCountryName">Country Name:</label>			
			<div class="col-md mt-2">
				<input type="text" class="form-control" id="fieldCountryName">
			</div>
			
			<label class="col-form-label mt-2">Country Code:</label>			
			<div class="col-md mt-2">
				<input type="text" class="form-control" id="fieldCountryCode">
			</div>
			
			<div class="col-lg-4 mt-2">
				<input type="button" id="buttonAddCountry" value="Add" class="btn btn-secondary mr-2">
				<input type="button" id="buttonUpdateCountry" value="Update" class="btn btn-secondary mr-2" disabled="disabled">
				<input type="button" id="buttonDeleteCountry" value="Delete" class="btn btn-secondary mr-2" disabled="disabled">
			</div>
		
		</div>
		
	</div>

</body>
</html>