<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::head">
<title>Settings- Shopnow Admin</title>
</head>
<body>
	<div class="container-fluid">
		<div>
			<div th:replace="common/navigation :: menu"></div>
		</div>

		<div class="text-center">
			<h1>Site Setting</h1>
		</div>

		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]
		</div>


		<div>
			<ul class="nav nav-tabs" id="settingTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" data-toggle="tab" href="#general"
						type="button" role="tab">General</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" data-toggle="tab" href="#countries"
						type="button" role="tab">Countries</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" data-toggle="tab" href="#states"
						type="button" role="tab">States</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" data-toggle="tab" href="#mailserver"
						type="button" role="tab">Mail Server</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" data-toggle="tab" href="#mailTemplates"
						type="button" role="tab">Mail Templates</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" data-toggle="tab" href="#payment"
						type="button" role="tab">Payment</button>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active p-3" id="general" role="tabpanel">
					<div th:replace="setting/general :: content"></div>
				</div>
				<div class="tab-pane" id="countries" role="tabpanel">
					<div th:replace="setting/countries :: content"></div>
				</div>
				<div class="tab-pane" id="states" role="tabpanel">
					<div th:replace="setting/states :: content"></div>
				</div>
				<div class="tab-pane" id="mailserver" role="tabpanel">
					<div th:replace="setting/mailServer :: content"></div>
				</div>
				<div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
					<div th:replace="setting/mail_templates/mail_template :: content"></div>
				</div>
				<div class="tab-pane p-3" id="payment" role="tabpanel">
					<div th:replace="setting/payment :: content"></div>
				</div>
			</div>
			
		</div>
		
		<div class="toast justify-content-center d-flex" role="alert" aria-live="assertive"
			aria-atomic="true">
			<div class="toast-body">
				<span id="toast-message"></span>
			</div>
		</div>

		<div th:replace="common/footer::foot"></div>
		
	</div>
	
</body>

<script th:src="@{/js/countries_settings.js}"></script>
<script th:src="@{/js/states_setting.js}"></script>

<script type="text/javascript">
	contextPath = "[[@{/}]]";
	var csrfHeaderName="[[${_csrf.headerName}]]";
	var csrfValue="[[${_csrf.token}]]";
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#logoutLink").on("click", function(e) {
			e.preventDefault();
			document.logoutForm.submit();
		});
		customizeDropdown();
		
		$("#customerVerifyContent").richText();
		$("#orderVerifyContent").richText();
	});

	function customizeDropdown() {
		$(".navbar .dropdown").hover(	function() {
				$(this).find('.dropdown-menu').first().stop(true, true)
							.delay(250).slideDown();
				},
				function() {
					$(this).find('.dropdown-menu').first().stop(true, true)
							.delay(100).slideUp();
				});
		$(".dropdown > a").click(function() {
			location.href = this.href;
		});
	}

	$("#fileImage").change(function() {
		fileSize = this.files[0].size;
		if (fileSize > 1048576) {
			this.setCustomValidity("You must choose file less than 1mb");
			this.reportValidity();
		} else {
			this.setCustomValidity("");
			showImageThumbnail(this);
		}

	});

	function showImageThumbnail(fileInput) {
		var file = fileInput.files[0];
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#thumbnail").attr("src", e.target.result);
		};
		reader.readAsDataURL(file);
	}
</script>

</html>