<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::head"></head>

<body>
	<div class="container-fluid text-center">
		<div th:replace="common/navigation::menu"></div>
		<div th:replace="common/navigation::search_menu"></div>
		<h2>Checkout</h2>		
	</div>
	
	<div class="row m-1">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header"><h5>Shipping Information</h5></div>
				<div class="card-body">
					<p>
						<b>Ship to:</b> [[${shippingAddress}]].
						<a th:href="@{/address_book}">[Ship to another address]</a>
					</p>
					
					<p>
						<b>Days to deliver:</b> [[${checkoutInfo.deliveryDays}]] day(s).
					</p>
					
					<p>
						<b>Expected delivery:</b> [[${#dates.format(checkoutInfo.deliveryDate,'E,dd/MM/YYYY')}]].
					</p>
				</div>
			</div>
			
			<div class="card mt-3 mb-3">
				<div class="card-header"><h5>Payment Method</h5></div>
				<div class="card-body">
					<div th:if="${checkoutInfo.codSupported}">
						<form th:action="@{/place_order}" method="post">
						<p>
							<input type="radio" name="paymentMethod" id="radioCod" value="COD"> Cash on Delivery
							&nbsp;
							<button class="btn btn-primary d-none" id="placeBtn">Place Order with COD</button>
						</p>
						</form>
					</div>
					
					<div id="paypal-button-container">
						<form th:action="@{/process_paypal_order}" method="post" id="paypalForm">
							<input type="hidden" name="orderId" id="orderId">
							<input type="hidden" name="paymentMethod" value="PAYPAL">
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header"><h5>Order Summary</h5></div>
				<div class="card-body">
					<div>
						<table>
							<th:block th:each="item :${cartItems}">
								<tr>
								
									<td>[[${item.quantity}]] X &nbsp; &nbsp;</td>
								
									<td width="70%">
										<a th:href="@{'/p/' +${item.product.alias}}" target="_blank">[[${item.product.name}]]</a>
										<br>
										<small>
											Shipping Cost:										
											<span th:if="${CURRENCY_SYMBOL_POSITION=='Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
											[[${#numbers.formatDecimal(item.shippingCost,1,THOUSAND_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
											<span th:if="${CURRENCY_SYMBOL_POSITION=='After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>		
										</small>
									</td>
									
									<td class="ml-2">										
										<span th:if="${CURRENCY_SYMBOL_POSITION=='Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
										[[${#numbers.formatDecimal(item.subTotal,1,THOUSAND_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
										<span th:if="${CURRENCY_SYMBOL_POSITION=='After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
									</td>						
									
								</tr>
							</th:block>
							
							<tr>
								<td colspan="3">
									<hr>
								</td>	
							</tr>
							
						</table>						
					</div>
					
					<div class="row mt-2">
							<div class="col">Product Total:</div>
							<div class="col">
								<div>
									<span th:if="${CURRENCY_SYMBOL_POSITION=='Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
										[[${#numbers.formatDecimal(checkoutInfo.productTotal,1,THOUSAND_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
										<span th:if="${CURRENCY_SYMBOL_POSITION=='After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
								</div>
							</div>
					</div>
					
					<div class="row mt-2">
							<div class="col">Total Shipping Cost:</div>
							<div class="col">
								<div>
									<span th:if="${CURRENCY_SYMBOL_POSITION=='Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
										[[${#numbers.formatDecimal(checkoutInfo.shippingCostTotal,1,THOUSAND_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
										<span th:if="${CURRENCY_SYMBOL_POSITION=='After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
								</div>
							</div>
					</div>
					
					<div class="row mt-2">
							<div class="col"><b>Payment Total:</b></div>
							<div class="col">
								<div>
									<span th:if="${CURRENCY_SYMBOL_POSITION=='Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
										[[${#numbers.formatDecimal(checkoutInfo.paymentTotal,1,THOUSAND_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
										<span th:if="${CURRENCY_SYMBOL_POSITION=='After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
								</div>
							</div>
					</div>
				
				</div>
			</div>
		</div>
			<div class="modal" tabindex="-1" role="dialog" id="payalCancelModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Warning</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<span id="payalCancelText"></span>
						</div>
						<div class="modal-footer">							
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
	</div>
	</div>

	<div th:replace="common/navigation::footer_menu"></div>	
	
</body>

<script th:src="@{https://www.paypal.com/sdk/js(client-id=${paypalClientId},currency=${currencyCode})}"></script>

<script type="text/javascript">
		contextPath = "[[@{/}]]";		
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";		
		$(document).ready(function(){
			$("#radioCod").on("click",function(){
				$("#placeBtn").removeClass("d-none");
			});			
		});
		
		//paypal
		paypal.Buttons({
			enableStandardCardFields:true,
			
			createOrder:function(data,actions){							
				return actions.order.create({					
					intent:'CAPTURE',//make payment immediately
					payer: {						
						name:{
							given_name: "[[${customer.firstname}]]",
							surname: "[[${customer.lastname}]]"
						},					
					
						address:{
							address_line_1: "[[${customer.addressLine1}]]",
							address_line_2: "[[${customer.addressLine2}]]",
							admin_area_1: "[[${customer.state}]]",
							admin_area_2: "[[${customer.city}]]",
							postal_code: "[[${customer.postalCode}]]",
							country_code: "[[${customer.country.code}]]"
						},
					
						email_address: "[[${customer.email}]]",					
						
					},
					
					purchase_units:[{
						amount:{
							currency_code: "[[${currencyCode}]]",
							value: "[[${checkoutInfo.paymentTotalPaypal}]]"							
						}
					}],
					
					application_context:{
						shipping_preference:"NO_SHIPPING"
					}
					
				});
				
			},
			
			onApprove:function(data,actions){
				return actions.order.capture().then(function(details){
					console.log(details);
					orderId=details.id;
					totalAmount=details.purchase_units[0].amount.value;
					validateOrder(orderId);
				})
			},
			
			onCancel:function(data){
				console.log("Payment cancelled!");
				$("#payalCancelText").text("Payment Cancelled");
				$("#payalCancelModal").modal();
			},
			
			onError:function(err){
				console.log(err);
				$("#payalCancelText").text("Not accepting payment from this region!");
				$("#payalCancelModal").modal();
			}
			
		}).render("#paypal-button-container");
		
		function validateOrder(orderId){
			$("#orderId").val(orderId);
			$("#paypalForm").submit();
		}
</script>

</html>