<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Categories - ShopNow Admin</title>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h1>Manage Categories</h1>
			<a th:href="@{/new}">Create New Category</a>
		</div>
		<div>&nbsp;</div>
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>

		<div>
			<form class="form-inline" th:action="@{/categories/1}">
				Filter:&nbsp; <input type="hidden" name="sortField"
					th:value="${sortField}" /> <input type="hidden" name="sortDir"
					th:value="${sortDir}" /> <input type="search" name="keyword"
					th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp; <input type="submit" value="Search"
					class="btn btn-primary" required /> &nbsp;&nbsp; <input
					type="button" value="Clear" class="btn btn-secondary"
					onclick="clearFilter()" />
			</form>
		</div>
		<div>&nbsp;</div>
		<div>
			<div>
				<table
					class="table table-bordered table-striped table-hover table-responsive-xl">
					<thead class="thead-dark">
						<tr>
							<th scope="col"><a class="text-white">ID</a></th>
							<th scope="col">Photo</th>
							<th scope="col"><a class="text-white"
								th:href="@{'/categories/' +${pageNum}+ '?sortDir='+${reverseSort}+ ${keyword!=null ? '&keyword=' +keyword : ''}}">Category
									Name</a></th>
							<th scope="col"><a class="text-white">Alias</a></th>
							<th scope="col">Enabled</th>
							<th scope="col">Operations</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cat: ${categories}">
							<th scope="row">[[${cat.id}]]</th>
							<td><span th:if="${cat.image==null}"
								class="fas fa-portrait fa-3x"></span> <img
								th:if="${cat.image!=null}" th:src="@{${cat.imagePath}}"
								style="width: 100px" />
							</td>
							<td>[[${cat.name}]]</td>
							<td>[[${cat.alias}]]</td>
							<td><a th:if="${cat.enabled==true}"
								class="fas fa-check-circle fa-2x"
								th:href="@{'/category/' + ${cat.id} +'/enabled/false'}"
								title="Disable this category"></a> <a
								th:if="${cat.enabled==false}" class="fas fa-times fa-2x"
								th:href="@{'/category/' + ${cat.id} +'/enabled/true'}"
								title="Enable this category"></a></td>

							<td><a class="fas fa-edit fa-2x" th:href="@{'/categories/category/edit/' + ${cat.id}}"></a>
								<a th:href="@{'/categories/category/delete/' + ${cat.id}}" class="fas fa-user-times fa-2x link-delete" th:catId="${cat.id}" title="Delete this category"></a>

							</td>

						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-center m-1" th:if="${totalElements<0}">
				<span>No Categories Found</span>
			</div>
			<div th:if="${totalPage > 1}">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li th:class="${pageNum > 1 ? 'page-item' :'page-item disabled'}"><a
							class="page-link"
							th:href="@{'/categories/1?sortField=' + ${sortField} + '&sortDir=' + ${reverseSort}+ ${keyword!=null ? '&keyword=' +keyword : ''}}">First</a></li>
						<li th:class="${pageNum > 1 ? 'page-item' :'page-item disabled'}"><a
							class="page-link"
							th:href="@{'/categories/' +${pageNum-1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword!=null ? '&keyword=' +keyword : ''}}">Previous</a></li>
						<li th:class="${pageNum != i ? 'page-item' :'page-item active'}"
							th:each="i:${#numbers.sequence(1,totalPage)}"><a
							class="page-link"
							th:href="@{'/categories/' +${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						</li>
						<li
							th:class="${pageNum < totalPage ? 'page-item' :'page-item disabled'}"><a
							class="page-link"
							th:href="@{'/categories/' +${pageNum+1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword!=null ? '&keyword=' +keyword : ''}}">Next</a></li>
						<li
							th:class="${pageNum < totalPage ? 'page-item' :'page-item disabled'}"><a
							class="page-link"
							th:href="@{'/categories/' +${totalPage}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ ${keyword!=null ? '&keyword=' +keyword : ''}}">Last</a></li>
					</ul>
				</nav>
			</div>
			<div class="modal" tabindex="-1" role="dialog" id="confirmModal1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Delete Confirmation</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<span id="confirmText"></span>
						</div>
						<div class="modal-footer">
							<a class="btn btn-success" href="" id="yesButton">Yes</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="footer::foot"></div>
		</div>
	</div>
	<div th:replace="script::script"></div>
	<script type="text/javascript">
	
	function clearFilter(){
		window.location="[[@{/categories}]]";
	}	
	
	</script>
</body>
</html>