<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link rel="stylesheet" type="text/css"	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<title>Home - ShopNow Admin</title>
</head>

<body>
	<div class="container-fluid">
	
		<div th:replace="navigation :: menu"></div>
		
		<div>
			<h1>ShopNow Admin Control Panel</h1>
			<br>
			<h3>
				Welcome <a sec:authentication="principal.username" th:href="@{/account}"></a>&nbsp;
				<a sec:authentication="principal.authorities" th:href="@{/account}"></a>
			</h3>
		</div>
		
		<div th:replace="footer::foot"></div>
		
	</div>
	
	<div th:replace="script::script"></div>
	
</body>
</html>