<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header::head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div class="container-fluid">
		<div th:replace="common/navigation :: menu"></div>
		
		<div>
			<h1>Manage Brands</h1>
			<a class="btn btn-primary" th:href="@{/brands/new}">Create New Brand</a>
		</div>
		
		<hr>
		
		<div>&nbsp;</div>
		
		<div th:if="${message != null}"	class="alert alert-success text-center">[[${message}]]</div>
		
		<div th:if="${message1 != null}"
			class="alert alert-danger text-center">[[${message1}]]
		</div>	
			
		<div>
			<form th:action="@{/brands/page/1}" class="form-inline">
				<input type="hidden" name="sortField" th:value="${sortField}"/>				
				<input type="hidden" name="sortDir" th:value="${sortDir}"/>
				Filter:&nbsp;
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<input type="submit" value="Search" class="btn btn-primary" required />
				&nbsp;&nbsp;
				<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>			
			</form>
		</div>	

		<div>&nbsp;</div>

		<div>
			<div>
				<table	class="table table-bordered table-striped table-hover table-responsive-xl">
					<thead class="thead-dark">
						<tr>
							<th scope="col" th:replace="common/fragments::column_link_brand('id','ID')"></th>
							<th scope="col">Photo</th>
							<th scope="col" th:replace="common/fragments::column_link_brand('name','Brand Name')"></th>							
							<th scope="col"><a class="text-white">Categories</a></th>													
							<th scope="col">Operations</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="brnd : ${brands}">
							<th scope="row">[[${brnd.id}]]</th>
							<td>
								<span th:if="${brnd.logo==null}" class="fa-solid fa-image"></span>
								<img th:if="${brnd.logo!=null}" th:src="@{${brnd.logoPath}}" style="width: 100px" />
							</td>
							<td>[[${brnd.name}]]</td>
							<td>
								<th:block th:each="cat : ${brnd.categories}">
								<span class="badge badge-secondary" th:text="${cat.name}"></span>
								</th:block>								
							</td>							
							<td>
								<a class="fas fa-edit fa-2x" th:href="@{'/brands/edit/' + ${brnd.id}}" title="Edit this brand"></a>
								&nbsp;
								<a class="fas fa-user-times fa-2x link-delete" th:href="@{'/brands/delete/' + ${brnd.id}}"
									title="Delete this brand" th:brandId="${brnd.id}">
								</a>
							</td>
						</tr>
					</tbody>
					
				</table>
			</div>
			
			<div class="text-center m-1" th:if="${totalItems>0}">
				<span>Showing brands # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
			</div>
			
			<div class="text-center m-1" th:unless="${totalItems>0}">
				<span>No brand Found</span>
			</div>
			
			<div th:if="${totalPage > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">					
					<li th:class="${pageNum > 1 ? 'page-item' :'page-item disabled'}">
						<a th:replace="common/fragments::page_link_brand(1,'First')"></a>
					</li>
					
					<li th:class="${pageNum > 1 ? 'page-item' :'page-item disabled'}">
						<a th:replace="common/fragments::page_link_brand(${pageNum-1},'Previous')"></a>
					</li>
					
					<li th:class="${pageNum != i ? 'page-item' :'page-item active'}" th:each="i:${#numbers.sequence(1,totalPage)}">
						<a th:replace="common/fragments::page_link_brand(${i},${i})"></a>
					</li>
										
				    <li th:class="${pageNum < totalPage ? 'page-item' :'page-item disabled'}">
				    	<a th:replace="common/fragments::page_link_brand(${pageNum+1},'Next')"></a>
				    </li>
					
					<li th:class="${pageNum < totalPage ? 'page-item' :'page-item disabled'}">
						<a th:replace="common/fragments::page_link_brand(${totalPage},'Last')"></a>
					</li>					
				</ul>				
			</nav>
			</div>
			
			<div class="modal" tabindex="-1" role="dialog" id="confirmModalBrand">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Delete Confirmation</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<span id="confirmTextBrand"></span>
						</div>
						<div class="modal-footer">
							<a class="btn btn-success" href="" id="yesButtonBrand">Yes</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div th:replace="common/footer::foot"></div>
	</div>
		
	<div th:replace="common/script::script"></div>
	
<script type="text/javascript">	
function clearFilter(){
	window.location="[[@{/brands}]]";
}
//delete brand
$(document).ready(function() {
	$(".link-delete").on("click",function(e) {
		e.preventDefault();
		link = $(this);
		brandId = link.attr("brandId");				
		$("#yesButtonBrand").attr("href",link.attr("href"));
		$("#confirmTextBrand").text("Are you sure want to delete brand with id: "+ brandId + " ?");
		$("#confirmModalBrand").modal();
	});
});		
</script>

</body>

</html>