<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>[[${pageTitle}]]</title>	
</head>

<body>

	<div class="container-fluid">
		<div th:replace="navigation::menu"></div>
		<div class="text-center">
			<h2>Forgot Password</h2>
		</div>
	</div>

	<form th:action="@{/forgot-password}" method="post"
		style="max-width: 500px; margin: 0 auto">
		
		<div th:if="${error!=null}">
			<p class="text-danger text-center">[[${error}]]</p>
		</div>
		
		<div th:if="${message!=null}">
			<p class="text-warning text-center">[[${message}]]</p>
		</div>
	
		<div class="border border-secondary rounded p-3">
			<p class="text-center">We will be sending the reset password link to your account.</p>
			
			<div>
				<p>
					<input type="email" name="email" class="form-control"
						placeholder="enter your email" required />
				</p>
			</div>

			<div>
				<p>
					<input type="submit" value="Send" class="btn btn-primary">
				</p>
			</div>
		</div>
		
	</form>

	<div>&nbsp;</div>

	<div th:replace="navigation::footer_menu"></div>

</body>


</html>