<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::head"></head>

<body>

	<div class="container-fluid">
		<div th:replace="common/navigation::menu"></div>
		<div class="text-center">
			<h2>Reset Password</h2>
		</div>
	</div>

	<form th:action="@{/reset-password}" method="post"
		style="max-width: 500px; margin: 0 auto">

		<input type="hidden" th:value="${token}" name="token">

		<div th:if="${message!=null}">
			<p class="text-warning text-center">[[${message}]]</p>
		</div>

		<div class="border border-secondary rounded p-3">

			<div>
				<p>
					<input type="password" id="password" name="password" class="form-control"
						minlength="5" placeholder="enter your new password" required />
				</p>
			</div>

			<div>
				<p>
					<input type="password" name="confirmpassword" id="confirmpassword" class="form-control"
						placeholder="confirm password" required oninput="checkPasswordMatch(this)" />
				</p>
			</div>

			<div>
				<p>
					<input type="submit" value="Change Password"
						class="btn btn-primary">
				</p>
			</div>
		</div>

	</form>

	<div>&nbsp;</div>

	<div th:replace="common/navigation::footer_menu"></div>

</body>

<script type="text/javascript">
	function checkPasswordMatch(confirmpassword) {
		if (confirmpassword.value != $("#password").val()) {
			confirmpassword.setCustomValidity("Password does not match!");
		} else {
			confirmpassword.setCustomValidity("");
		}
	}
</script>

</html>